body {
    background-color:black;
    text-align:center;
}

.logo{
    /*-- logo背景  --*/
    width: 100%;
    position: fixed;
    line-height:40px;
    z-index:9999;
}
.logo h1{
    text-align: center;
    line-height:40px;
    height:60px;
    background-color:darkgrey;
}
#logo1{
    float:left;
    margin-right:480px;
    font-size:38px;
    font-family:Forte;
}
#logo_img{
    float:left;
}
#logo2,#logo3,#logo4,#logo5{
    font-family: Georgia;
    float: left;
    font-size:14px;
    border-right:1px solid black;
}
#log_in{
    float: left;
    text-align:left;
    font-size:15px;
    font-family:'Old English Text MT';
}

.navbar-nav li{
    display:inline;
}
.navbar-nav a {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    display: block;
    width: 90px;
    color: black;
}
.navbar-nav a:hover {
    background-color:cornsilk;
    font-family:Elephant;
    font-size:15px;
    color:firebrick;
}
.active {
    background-color: #4CAF50;
}


.v{
    padding-top:90px;
    float:left;
}
#vid1,#vid2,#vid3,#vid4,#vid5,#vid5,#vid6,#vid7,#vid8,#vid9,#vid10,#vid11,#vid12{
    width:280px ;
    height: 200px;
}
.footer1{
    height:auto;
    width:100%;
}
.footer1 p{

    margin-bottom:30px;
    margin-top:50px;
    color:aliceblue;
    font-size:10px;
    text-align:center;
}