<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="{{ url_for('static',filename='css/searchstyle.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/results.css') }}">

</head>
<body>

<div class='box'>
    <div class='logo'>
        <ul>
            <li id="logo_img"><img src="{{ url_for('static',filename='pictures/logo.png') }}" alt="logo_picture"
                                   width="35" height="35"></li>
            <li id="logo1"><a href="/">GreatTaste</a></li>
        </ul>
    </div>
</div>

<div class="wap">
    <p class="logo-center">
        Blog Posts
        <span><a href="/create" id="3"><button>Create a pool</button></a></span>

    </p>

    <div class="content">
        <div class="left">
            <div class="left-top">
                <div class="aa">B</div>
                <p>{{ username }}</p>
                <p>{{ email }}</p>
                <table>
                    <tr>
                        <td style="border-right: 1px solid grey;border-top: 0px;border-left: 0;">0</td>
                        <td>{{ receipes_num }}</td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid grey;border-top: 0px;border-left: 0;">Fllowing</td>
                        <td>Fllowing</td>
                    </tr>
                </table>
                <span>Edit</span>
            </div>
            <div class="left-bottom">
                <p>Profile</p><br>
                {{ username }}<br>
                {{ email }}
            </div>
        </div>
        <div class="right">
{#            <img src="{{ url_for('static',filename='pictures/pic1.png') }}" alt="logo_picture" width="470" height="400">#}

        </div>


    </div>
</div>

<table class="border: none;border-collapse: collapse;" >
            <thead>
{#            <tr>#}
{#                <th>title</th>#}
{#                <th>type</th>#}
{#                <th>ingredients</th>#}
{#                <th>release_date</th>#}
{#                <th>content</th>#}
{#                <th>images</th>#}
{#                <th>operation</th>#}
{#            </tr>#}
            </thead>
            <tbody>
             {% if list %}
                {% for item in list %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.type  }}</td>
                <td>{{ item.ingredients }}</td>
                <td>{{ item.release_date }}</td>
                <td>{{ item.content }}</td>
                <td><img src="{{ url_for('static',filename='pictures/'+item.images) }}" width="100" height="100"></td>
                <td>
                    <a href="{{ url_for('create') }}?id={{ item.id  }}">
                        edit
                    </a> <br>
                    <a href="{{ url_for('account_delete') }}?id={{ item.id  }}">
                        delete
                    </a>
                </td>
            </tr>
             {% endfor %}
            {% else %}
{#                <tr><td colspan="6">no data~~</td></tr>#}
            {% endif %}
            </tbody>
        </table>
</body>
</html>