<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Create</title>
    <meta charset="utf-8"/>
    <link href="{{ url_for('static',filename='css/createstyle.css') }}" rel="stylesheet" type="text/css"/>
{#        <script src="{{ url_for('static',filename='js/create.js') }}"></script>#}
</head>
<body>

<div class="logo" style="height:40px;">
    <h1 style="height:40px;background-color:darkgrey;">
        <ul class="navbar-nav">
            <li id="logo_img"><img src="{{ url_for('static',filename='pictures/logo.png') }}" alt="logo_picture"
                                   width="35" height="35"></li>
            <li id="logo1"><a href="/">GreatTaste</a></li>
        </ul>
    </h1>
</div>
<div id="box" style="color:black;padding-left:30px">
    <form style="margin-top:20px;" action="/create_save" method="post" enctype='multipart/form-data'>
        <p style="font-size:28px;font-family:'Bradley Hand ITC';line-height:60px;width:290px;">Create New Recipe</p>
        <p>
            Title:<input type="text" name="title" value="{{ title }}"/>
        </p>
        <input name="id" value="{{ id }}" hidden>
        <p>
            Type :
            <select id="test" name="type" value="{{ type }}">
                <option value="breakfast">breakfast</option>
                <option value="lunch">lunch</option>
                <option value="dinner">dinner</option>
                <option value="dessert">dessert</option>
                <option value="drink">drink</option>
            </select>
        </p>

        <p>Ingredient :
            <input name="ingredients" type="text" id="a1" style="min-width:10%" value="{{ ingredients }}"/>
        </p>
        <p>
            <input type="file" name="file" style="margin-top:20px;"/>
        </p>
        <p>
            <textarea cols="110" rows="15" style="margin-top:2px;margin-left:10px" name="content"></textarea>
        </p>
        <p>
            <input id=log type="submit" value="submit"/>
        </p>
    </form>
</div>


<div class="footer">
    <p id="123">
        __________________________________________________________________________________________________________________<br><br>
        Email: new_group@gmail.com<br>
        International: +61 4 1234 5678<br>
        Page last updated Wednesday 27 May 2020<br>
        UNSW CRICOS Provider Code 00098G, ABN 57 195 873 179 | Sydney, NSW.2052, Australia<br>
    </p>
</div>

</body>
</html>
