<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>mainpage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/MianPagestyle.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/MainPageJavaScript.js') }}"></script>
</head>
<body>

<div class="logo" style="position:fixed;height:100px;">
    <h1 style="height:40px;background-color:darkgrey;">
        <ul class="navbar-nav">
            <li id="logo_img"><img src="{{ url_for('static',filename='pictures/logo.png') }}" alt="logo_picture"
                                   width="35" height="35"></li>
            <li id="logo1"><a href="/" id="1">GreatTaste</a></li>
            <li id="logo2"><a href="/" id="1">Welcome</a></li>
            <li id="logo5" id="4">
                {% if session.get('username') %}
                    <a href="/logout">logout</a>
                {% else %}
                    <a href="/login">log in</a>
                {% endif %}
            </li>
        </ul>
    </h1>
</div>

<div id="container">
    <ul id="banner">
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/meat-menu.jpg') }}"> </a></li>
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/slider1.jpg') }}"> </a></li>
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/slider2.jpg') }}"> </a></li>
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/slider3.jpg') }}"> </a></li>
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/menu-vegetarian.jpg') }}"> </a></li>
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/meat-menu.jpg') }}"> </a></li>
        <li><a href="#"> <img src="{{ url_for('static',filename='pictures/slider1.jpg') }}"> </a></li>
    </ul>

    <!--伴随移动的小圆点-->
    <div id="buttons">
        <span index="1" class="on"></span>
        <span index="2"></span>
        <span index="3"></span>
        <span index="4"></span>
        <span index="5"></span>
    </div>
    <a href="javascript:;" id="prev" class="arrow">&lt;</a>  <!--向左-->
    <a href="javascript:;" id="next" class="arrow">&gt;</a>  <!--向右-->
</div>

<div class="recipe">
    <div class="recipe1">
        <img src="{{ url_for('static',filename='pictures/recipe1.jpg') }}" id="searchimg">
    </div>
    <div class="recipe2">
        <h2><a>London</a></h2>
        <p>
            London is the capital city of England. It is the most populous city in the United Kingdom,
            with a metropolitan area of over 13 million inhabitants.
        </p>
        <p>
            Standing on the River Thames, London has been a major settlement for two millennia,
            its history going back to its founding by the Romans, who named it Londinium.
        </p>
    </div>
</div>

</body>
</html>
