<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>loginpage</title>
    <meta charset="utf-8"/>
    <link href="{{ url_for('static',filename='css/searchstyle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/login.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class='box'>
    <div class='logo'>
        <ul>
            <li id="logo_img"><img src="{{ url_for('static',filename='pictures/logo.png') }}" alt="logo_picture"
                                   width="35" height="35"></li>
            <li id="logo1"><a href="/">GreatTaste</a></li>
        </ul>
    </div>
</div>

<div id="box">
    <p id="login">login</p>
    <center>
        <form action="/login" method="post">
            <div>
                <p>
                    username:<input type="text" name="username"/>
                </p>
                <p>
                    password:<input type="password" name="password"/>
                </p>
                <p>
                    <input id=log type="submit" value="login"/>
                </p>

            </div>

        </form>
        <p>
            <a href="/register">
                <button>register</button>
            </a>
        </p>
        <p>
            <a href="/">
                <button>go home</button>
            </a>
        </p>
    </center>
</div>

</body>
</html>
