<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Video</title>
	<meta charset="utf-8" />
    <link href="{{ url_for('static',filename='css/vstyle.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="logo" style="position:fixed;height:100px;">
    <h1 style="height:40px;background-color:darkgrey;">
        <ul class="navbar-nav">
            <li id="logo_img"><img src="{{ url_for('static',filename='pictures/logo.png') }}" alt="logo_picture" width="35" height="35"></li>
            <li id="logo1"><a href="/" id="1">GreatTaste</a></li>
            <li id="logo2"><a href="#" id="1">Welcome</a></li>
            <li id="logo3"><a href="/search" id="2">Search</a></li>
{#            <li id="logo4"><a href="/create" id="2">Create</a></li>#}
            <li id="logo5"><a href="/video" id="3">Video</a></li>
            <li id="logo5" id="4">
                {% if session.get('username') %}
                    <a href="/account">account</a>
                {% endif %}
            </li>
            <li id="logo5" id="4">
                {% if session.get('username') %}
                    <a href="/logout">logout</a>
                {% else %}
                    <a href="/login">log in</a>
                {% endif %}
            </li>
        </ul>
    </h1>
</div>

    <div class="v">
        <video controls="controls" id="vid1">
            <source src="{{ url_for('static',filename='video/yimian.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid2">
            <source src="{{ url_for('static',filename='video/1.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid3">
            <source src="{{ url_for('static',filename='video/2.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid4">
            <source src="{{ url_for('static',filename='video/3.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid5">
            <source src="{{ url_for('static',filename='video/4.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid6">
            <source src="{{ url_for('static',filename='video/5.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid7">
            <source src="{{ url_for('static',filename='video/6.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid8">
            <source src="{{ url_for('static',filename='video/7.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid9">
            <source src="{{ url_for('static',filename='video/8.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid10">
            <source src="{{ url_for('static',filename='video/8.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid11">
            <source src="{{ url_for('static',filename='video/8.mp4') }}" type="video/mp4" />
        </video>
        <video controls="controls" id="vid12">
            <source src="{{ url_for('static',filename='video/8.mp4') }}" type="video/mp4" />
        </video>
    </div>

    <div class="footer1">
        <p id="234">
            __________________________________________________________________________________________________________________<br><br>
            Email: new_group@gmail.com<br>
            International: +61 4 1234 5678<br>
            Page last updated Wednesday 27 May 2020<br>
            UNSW CRICOS Provider Code 00098G, ABN 57 195 873 179 | Sydney, NSW.2052, Australia<br>
        </p>
    </div>
</body>
</html>
